
body{
    font-family: sans-serif;
    background-repeat: no-repeat;/*设置图片不平铺*/
    background-size:100% 100%;/*设置图片的大小，浏览器的宽高*/
    background-attachment:fixed;
}

h1{
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50px;
}


.gallery{
    margin: :10px 50px;
}

.gallery img{
/*    width: 600px;*/
    padding: 60px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.15);
}
